body{
background: black;
}
h2{
    font-size: 2rem;
    text-align: center;
    color:aqua
}
.container{
    margin:0 auto;
    max-width: 1200px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:azure;
    width:45%;
    margin:10px;
    padding:20px;
    box-shadow:2px 2px 10px white;
}
h3{
    text-align: center;
}
.white{
    color:white;
    text-align: center;
    font-size: 3rem;
}
.img-slider{
    width: 200px;
    height: 300px;
}